@import "../besecss/init.scss";
@import "../besecss/changliang.scss";

$navheight:64px;
body{
    background:whitesmoke;
}
.header{
    background: lightpink;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    z-index: 100;
    //opacity: 0.5;
    .nav {
        width: $pagewidth;
        height: 100%;
        //background:yellowgreen;
        margin: 0 auto;
        overflow: hidden;

        .log-box {
            width: 180px;
            height: 70px;
            background: url("http://localhost:3000/src/images/log.png") no-repeat;
            float: left;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .daohang-box {
            margin-left: 150px;
            float: left;

            li {
                float: left;
                margin-right: 60px;
                line-height: $navheight;
                height: $navheight;
                box-sizing: border-box;

                a {
                    color: white;
                    font-size: 20px;
                }

                &.active {
                    border-bottom: 5px solid skyblue;
                }
            }
        }

        .denglu-box {
            float: right;
            line-height: $navheight;
            height: $navheight;
            color: white;
            a{
                font-size: 18px;
                color: white;
            }
            .iconfont{
                font-size: 20px;
            }
        }
    }
}
.main{
    width: 100%;
    margin-top: 70px+20px;
    .wrapper{
        width: $pagewidth;
        margin: 0 auto;
        //background: skyblue;
        height: 1300px;
        overflow: hidden;
        .con-wrapper{
            $bannerwidth:$mainboxwidth;
            $bannerheight:277px;
            float: left;
            width: $mainboxwidth;
            height: 500px;
            //background: yellow;
            .banner-group{
                width: 100%;
                height: 277px;
                background: aqua;
                position: relative;
                overflow: hidden;
                z-index: 0;
                .banner-ul{
                    overflow: hidden;
                    width: $bannerwidth*4;
                    position: absolute;
                    left: 0;
                    li{
                        float: left;
                        width: $bannerwidth;
                        height: $bannerheight;
                        img{
                            width: $bannerwidth;
                            height: $bannerheight;
                        }
                    }
                }
                .arrow{
                    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
                    font-size: 70px;
                    color: white;
                    position: absolute;
                    top: 50%;
                    margin-top: -45px;
                    cursor: pointer;
                    display: none;
                }
                .left-arrow{
                    left: 20px;
                }
                .right-arrow{
                    right: 20px;
                }
                .page-control-group{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20px;
                    .page-control{
                        margin: 0 auto;
                        overflow: hidden;
                        li{
                            width: 10px;
                            height: 10px;
                            border: 1px solid white;
                            border-radius: 50%;
                            float: left;
                            margin: 0 8px;
                            box-sizing: border-box;
                            cursor: pointer;
                            &.active{
                                background: white;
                            }
                        }
                    }
                }
            }
        }
        .sidebar-wrapper{
            float: right;
            width: $sideboxwidth;
            height: 500px;
            //background: darkgray;
            .hot-tuijian{
                width: 100%;
                height: 370px;
                //background: lightpink;
                .title{
                    color: skyblue;
                    font-weight: bold;
                    margin-left: 20px;
                }
                .title-a{
                    width: 100%;
                    //height: 25px;
                    //margin-left:10px;
                    //color: skyblue;
                    //font-weight: bold;
                    overflow: hidden;
                    li{
                        width: 100px;
                        height: 100px;
                        margin-top: 10px;
                        margin-left: 20px;
                        float: left;
                        a img{
                            width: 100%;
                            height: 100%;
                            transition: all 0.5s ease-in-out;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
            .hot-news{
                width: 100%;
                height: 370px;
                .title-zx{
                    color: yellowgreen;
                    font-weight: bolder;
                    margin-left: 20px;
                }
                .zixun-list{
                     margin-top: 10px;
                    li{
                        margin-left: 20px;
                        margin-top: 5px;
                        .title-1 a{
                            color: #3a3a3a;
                            &:hover{
                                color: skyblue;
                            }
                        }
                        a img {
                            width: 150px;
                            height: 80px;
                            display: block;
                            margin: 0 5px;
                            transition: all 0.5s ease-in-out;
                            &:hover{
                                margin: 5px 10px;
                                width: 180px;
                                height: 100px;
                                //transform: scale(1.2);
                            }
                        }
                    }
                 }
            }
        }
    }
}
.main{
    .wrapper{
        .con-wrapper{
            .con-list{
                background: white;
                margin-top: 5px;
                .list-tab{
                    width: 100%;
                    height: 66px;
                    overflow: hidden;
                    border: 1px solid #eeeeee;
                    border-left: none;
                    border-right: none;
                    li{
                        float: left;
                        margin: 0 20px;
                        //line-height: 66px;
                        margin-top: 20px;
                        a{
                            color:gray;
                            margin-left: 5px;
                        }
                        &:first-of-type{
                            border-left: 5px solid cadetblue;

                        }
                        &.active{
                            a{
                                color: #212121;
                            }
                        }
                    }
                }
            }
            .content-zhuti{
                margin-top: 15px;
                .content-list{
                    margin: 10px 10px;
                    //background: #3a3a3a;
                    ul li{
                        width: 280px;
                        height: 320px;

                        //background: yellowgreen;
                        position: relative;
                        .tupian {
                            width: 100%;
                            height: 80%;
                            float: right;
                            a img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .uname{
                            position: absolute;
                            left: 8%;
                            bottom: 42px;
                            font-weight: bold;
                            color:palegreen;
                        }
                    }
                }
            }
        }
    }
}