@import "../besecss/init.scss";
@import "../besecss/changliang.scss";

.header{
    background: lightpink;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    z-index: 100;
    //opacity: 0.5;
    .nav {
        width: $pagewidth;
        height: 100%;
        //background:yellowgreen;
        margin: 0 auto;
        overflow: hidden;

        .log-box {
            width: 180px;
            height: 70px;
            background: url("http://localhost:3000/src/images/log.png") no-repeat;
            float: left;
            //border-radius: 20%;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .daohang-box {
            margin-left: 150px;
            float: left;

            li {
                float: left;
                margin-right: 60px;
                line-height: $navheight;
                height: $navheight;
                box-sizing: border-box;

                a {
                    color: white;
                    font-size: 20px;
                }

                &.active {
                    border-bottom: 5px solid skyblue;
                }
            }
        }

        .denglu-box {
            float: right;
            line-height: $navheight;
            height: $navheight;
            color: white;
            a{
                font-size: 18px;
                color: white;
            }
            .iconfont{
                font-size: 20px;
            }
        }
    }
}