<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小仙女约玩</title>
    <link rel="stylesheet" href="../../dist/css/shouye/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1059754_1snakqvjnrs.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="nav">
            <div class="log-box">
                <a href="/"></a>
            </div>
            <div class="daohang-box">
                <ul class="daohang">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/">找队友</a></li>
                    <li><a href="/">攻略资讯</a></li>
                    <li><a href="/">充值</a></li>
                    <li><a href="/">下载</a></li>
                    <li><a href="/">搜索</a></li>
                </ul>
            </div>
            <div class="denglu-box">
                <i class="icon-weibiaoti3 iconfont"></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">
            <div class="con-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/8997181550401038.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/1149091550899830.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/1789671550649758.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/1350641550482740.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/1350641550482740.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">

                        </ul>
                    </div>
                </div>
                <div class="con-list">
                    <ul class="list-tab">
                        <li class="active"><a href="#">英雄联盟</a></li>
                        <li><a href="#">绝地求生</a></li>
                        <li><a href="#">刺激战场</a></li>
                        <li><a href="#">Dota2</a></li>
                        <li><a href="#">剑网3</a></li>
                    </ul>
                </div>
                <div class="content-zt">
                        <ul class="con-list">
                            <li>
                                <a href="#">
                                    <div class="ime-tu">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/74/59/50_avatar_large.jpg" alt="">
                                </div>
                                    <div class="l-eb">
                                    <span class="span-lb">新秀</span>
                                </div>
                                    <div class="list-info">
                                    <div class="top-info">
                                        <p class="u-name">夏天</p>
                                        <p class="b-tag">
                                            <span>颜值担当</span>
                                        </p>
                                    </div>
                                    <div class="fod-info">
                                        <p class="game">
                                            <span>绝地求生</span>
                                            <span>刺激战场</span>
                                        </p>
                                        <p class="price">50元 / 小时</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="ime-tu">
                                        <img src="https://ucavatar.tuwan.com/data/avatar/000/23/33/72_avatar_large.jpg" alt="">
                                    </div>
                                    <div class="l-eb">
                                        <span class="span-lb">人气</span>
                                    </div>
                                    <div class="list-info">
                                        <div class="top-info">
                                            <p class="u-name">春天</p>
                                            <p class="b-tag">
                                                <span>颜值担当</span>
                                            </p>
                                        </div>
                                        <div class="fod-info">
                                            <p class="game">
                                                <span>绝地求生</span>
                                                <span>刺激战场</span>
                                            </p>
                                            <p class="price">50元 / 小时</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="ime-tu">
                                        <img src="https://ucavatar.tuwan.com/data/avatar/001/83/79/87_avatar_large.jpg" alt="">
                                    </div>
                                    <div class="l-eb">
                                        <span class="span-lb">青涩</span>
                                    </div>
                                    <div class="list-info">
                                        <div class="top-info">
                                            <p class="u-name">秋天</p>
                                            <p class="b-tag">
                                                <span>激情四射</span>
                                            </p>
                                        </div>
                                        <div class="fod-info">
                                            <p class="game">
                                                <span>英雄联盟</span>
                                                <span>刺激战场</span>
                                            </p>
                                            <p class="price">50元 / 小时</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="ime-tu">
                                        <img src="https://ucavatar.tuwan.com/data/avatar/000/23/20/50_avatar_large.jpg" alt="">
                                    </div>
                                    <div class="l-eb">
                                        <span class="span-lb">王者</span>
                                    </div>
                                    <div class="list-info">
                                        <div class="top-info">
                                            <p class="u-name">天天</p>
                                            <p class="b-tag">
                                                <span>特殊才艺</span>
                                            </p>
                                        </div>
                                        <div class="fod-info">
                                            <p class="game">
                                                <span>英雄联盟</span>
                                                <span>虚拟恋人</span>
                                            </p>
                                            <p class="price">50元 / 小时</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="ime-tu">
                                        <img src="https://ucavatar.tuwan.com/data/avatar/000/21/65/91_avatar_large.jpg" alt="">
                                    </div>
                                    <div class="l-eb">
                                        <span class="span-lb">青涩</span>
                                    </div>
                                    <div class="list-info">
                                        <div class="top-info">
                                            <p class="u-name">昭昭</p>
                                            <p class="b-tag">
                                                <span>声音甜美</span>
                                            </p>
                                        </div>
                                        <div class="fod-info">
                                            <p class="game">
                                                <span>虚拟恋人</span>
                                                <span>刺激战场</span>
                                            </p>
                                            <p class="price">360元 / 天</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="ime-tu">
                                        <img src="https://ucavatar.tuwan.com/data/avatar/001/69/05/69_avatar_large.jpg" alt="">
                                    </div>
                                    <div class="l-eb">
                                        <span class="span-lb">新秀</span>
                                    </div>
                                    <div class="list-info">
                                        <div class="top-info">
                                            <p class="u-name">哆啦</p>
                                            <p class="b-tag">
                                                <span>声音甜美</span>
                                            </p>
                                        </div>
                                        <div class="fod-info">
                                            <p class="game">
                                                <span>英雄联盟</span>
                                                <span>刺激战场</span>
                                            </p>
                                            <p class="price">80元 / 小时</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                </div>
                <div class="bangdan-group">
                    <div class="renqi bangdan-pailie">
                        <span class="title-b">人气榜TOP-10</span>
                        <div class="check-b">
                            <ul>
                                <li><a href="#">周榜</a></li>
                                <li><a href="#">总榜</a></li>
                            </ul>
                        </div>
                        <div class="renqi-inner-bang">
                            <ul>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="xinxiu bangdan-pailie">
                        <span class="title-b">人气榜TOP-10</span>
                        <div class="check-b">
                            <ul>
                                <li><a href="#">周榜</a></li>
                                <li><a href="#">总榜</a></li>
                            </ul>
                        </div>
                        <div class="renqi-inner-bang">
                            <ul>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="fuhao bangdan-pailie">
                        <span class="title-b">人气榜TOP-10</span>
                        <div class="check-b">
                            <ul>
                                <li><a href="#">周榜</a></li>
                                <li><a href="#">总榜</a></li>
                            </ul>
                        </div>
                        <div class="renqi-inner-bang">
                            <ul>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="#">
                                    <img src="https://ucavatar.tuwan.com/data/avatar/001/44/35/95_avatar_big.jpg" alt="">
                                    <div class="detile-b">
                                        <div class="t-detile">
                                            <p class="name">可可</p>
                                            <p class="dizhi"><span>西安市</span></p>
                                            <p class="age"><span>21</span></p>
                                        </div>
                                        <div class="f-detile">
                                            <p class="duanwei"><img src="https://res.tuwan.com/templet/play/teacher/images/charm_20.png" alt=""></p>
                                            <p class="jiedan">接单：207次</p>
                                        </div>
                                    </div>
                                </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-wrapper">
                <div class="hot-tuijian">
                    <p class="title">明星推荐：</p>
                    <ul class="title-a">
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/15/46/14_avatar_big2.jpg?random=1551172747" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/66/47/25_avatar_big2.jpg?random=20190227" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/68/78/35_avatar_big2.jpg?random=20190227" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/63/66/56_avatar_big2.jpg?random=1551229257" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/000/22/67/10_avatar_big2.jpg?random=1551209562" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/22/30/01_avatar_big2.jpg?random=20190227" alt=""></a></li>
                    </ul>
                </div>
                <div class="hot-news">
                    <p class="title-zx">热门资讯：</p>
                    <ul class="zx-list">
                        <li>
                            <a href="http://news.178.com/201807/324509438572.html" target="_blank"><img src="http://img3.178.com/news/201807/324498930670/324509843326.jpg" alt=""></a>
                            <div class="title-1">
                                <a class="title-1" href="http://news.178.com/201807/324509438572.html" target="_blank" >小心忍者偷袭！《绝地求生》Sanhok新地图现遁地BUG</a>
                            </div>
                        </li>
                        <li>
                            <a  href="http://news.178.com/201806/323465660681.html" target="_blank"><img src="http://img3.178.com/news/201806/323461466729/323465835077.jpg" alt=""></a>
                            <div class="title-1">
                                <a href="http://news.178.com/201806/323465660681.html" target="_blank" >小心忍者偷袭！《绝地求生》Sanhok新地图现遁地BUG</a>
                            </div>
                        </li>
                        <li>
                            <a href="http://news.178.com/201806/322423427840.html" target="_blank"><img src="http://img1.178.com/news/201806/322423652703/322423658926.jpg" alt=""></a>
                            <div class="title-1">
                                <a href="http://news.178.com/201806/322423427840.html" target="_blank" >小心忍者偷袭！《绝地求生》Sanhok新地图现遁地BUG</a>
                            </div>
                        </li>
                        <li>
                            <a href="http://news.178.com/201806/323041628382.html" target="_blank"><img src="http://img0.178.com/news/201806/323035185091/323041906172.jpg" alt=""></a>
                            <div class="title-1">
                                <a href="http://news.178.com/201806/323041628382.html" target="_blank" >小心忍者偷袭！《绝地求生》Sanhok新地图现遁地BUG</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="right-float">
                <div class="right-float-main">
                    <a href="#">
                        <div class="icon-een icon-fanhui"></div>
                        <p>返回顶部</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="top-group">
            <div class="top-inner-group">
                <div class="log-box"></div>
                <div class="top-detail-group">
                    <div class="line1">
                        <ul class="links">
                            <li><a href="#">关于小仙女</a></li>
                            <li><a href="#">合作共赢</a></li>
                            <li><a href="#">渠道关系</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们：</span>
                            <ul class="social-group">
                                <li class="weixin">
                                    <div class="wx-qrcode"></div>
                                    <span class="text">a573377138
                                    </span>
                                </li>
                                <li class="weibo">
                                    <a class="text" href="#">小仙女约玩</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="line2">
                        <p class="address">地址：成都市高新区时代天府1405</p>
                        <p class="contact">联系方式：18280009203（工作日10点-17点）</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-group">
            ©2019 成都小仙女科技有限公司 川ICP备15051289号-5
        </div>
    </footer>
</body>
</html>