<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小仙女约玩</title>
    <link rel="stylesheet" href="../../dist/css/shouye/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1059754_m88i5cluj2.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="nav">
            <div class="log-box">
                <a href="/"></a>
            </div>
            <div class="daohang-box">
                <ul class="daohang">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/">找队友</a></li>
                    <li><a href="/">攻略资讯</a></li>
                    <li><a href="/">充值</a></li>
                    <li><a href="/">下载</a></li>
                    <li><a href="/">搜索</a></li>
                </ul>
            </div>
            <div class="denglu-box">
                <i class="icon-weibiaoti3 iconfont"></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="wrapper">
            <div class="con-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/8997181550401038.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/1149091550899830.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/1789671550649758.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/1350641550482740.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://img3.tuwandata.com/uploads/play2/banner/1350641550482740.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">

                        </ul>
                    </div>
                </div>
                <div class="con-list">
                    <ul class="list-tab">
                        <li class="active"><a href="#">英雄联盟</a></li>
                        <li><a href="#">绝地求生</a></li>
                        <li><a href="#">刺激战场</a></li>
                        <li><a href="#">Dota2</a></li>
                        <li><a href="#">剑网3</a></li>
                    </ul>
                </div>
                <div class="content-zhuti">
                    <div class="content-list">
                        <ul>
                            <li>
                                <div class="tupian">
                                    <a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/74/59/50_avatar_large.jpg?random=1551173882" alt=""></a>
                                </div>
                                <div class="leibie">
                                    <span class="span-leibie">新秀</span>
                                </div>
                                <div class="uname">夏天</div>
                                <div class="biaoqian">颜值担当</div>
                                <div class="game-leibie">刺激战场</div>
                                <div class="jiaqian">50元/小时</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="sidebar-wrapper">
                <div class="hot-tuijian">
                    <p class="title">明星推荐：</p>
                    <ul class="title-a">
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/15/46/14_avatar_big2.jpg?random=1551172747" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/66/47/25_avatar_big2.jpg?random=20190227" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/68/78/35_avatar_big2.jpg?random=20190227" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/63/66/56_avatar_big2.jpg?random=1551229257" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/000/22/67/10_avatar_big2.jpg?random=1551209562" alt=""></a></li>
                        <li><a href="#"><img src="https://ucavatar.tuwan.com/data/avatar/001/22/30/01_avatar_big2.jpg?random=20190227" alt=""></a></li>
                    </ul>
                </div>
                <div class="hot-news">
                    <p class="title-zx">热门资讯：</p>
                    <ul class="zixun-list">
                        <li>
                            <a href="http://news.178.com/201807/324509438572.html" target="_blank"><img src="http://img3.178.com/news/201807/324498930670/324509843326.jpg" alt=""></a>
                            <div class="title-1">
                                <a class="title-1" href="http://news.178.com/201807/324509438572.html" target="_blank" >小心忍者偷袭！《绝地求生》Sanhok新地图现遁地BUG</a>
                            </div>
                        </li>
                        <li>
                            <a  href="http://news.178.com/201806/323465660681.html" target="_blank"><img src="http://img3.178.com/news/201806/323461466729/323465835077.jpg" alt=""></a>
                            <div class="title-1">
                                <a href="http://news.178.com/201806/323465660681.html" target="_blank" >小心忍者偷袭！《绝地求生》Sanhok新地图现遁地BUG</a>
                            </div>
                        </li>
                        <li>
                            <a href="http://news.178.com/201806/322423427840.html" target="_blank"><img src="http://img1.178.com/news/201806/322423652703/322423658926.jpg" alt=""></a>
                            <div class="title-1">
                                <a href="http://news.178.com/201806/322423427840.html" target="_blank" >小心忍者偷袭！《绝地求生》Sanhok新地图现遁地BUG</a>
                            </div>
                        </li>
                        <li>
                            <a href="http://news.178.com/201806/323041628382.html" target="_blank"><img src="http://img0.178.com/news/201806/323035185091/323041906172.jpg" alt=""></a>
                            <div class="title-1">
                                <a href="http://news.178.com/201806/323041628382.html" target="_blank" >小心忍者偷袭！《绝地求生》Sanhok新地图现遁地BUG</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</body>
</html>